.container {
  --media-width: 2.5rem;
  --links-transition: color 150ms linear;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-auto-flow: column;
  grid-auto-columns: auto;
  column-gap: var(--space-sm);
  background-color: hsl(var(--clr-gray-100));
  padding: var(--space-base);
  border-radius: var(--br-base);
}

.container.read {
  background-color: hsl(var(--clr-light));
}

.top > * + * {
  margin-left: 6px;
}

.container:not(.read) .top::after {
  content: '';
  display: inline-block;
  width: 8px;
  aspect-ratio: 1;
  margin-bottom: 1px;
  margin-left: 6px;
  border-radius: 50%;
  background-color: hsl(var(--clr-primary-red));
}

.name {
  text-decoration: none;
  color: hsl(var(--clr-gray-600));
  font-weight: var(--fw-bold);
  transition: var(--links-transition);
}

.name:hover,
.name:focus-within {
  color: hsl(var(--clr-primary-blue));
}

.link {
  text-decoration: none;
  font-weight: var(--fw-medium);
  color: hsl(var(--clr-gray-500));
  transition: var(--links-transition);
}

.link[data-type='group'] {
  color: hsl(var(--clr-primary-blue));
}

.link:hover,
.link:focus-visible {
  color: hsl(var(--clr-primary-blue));
}

.createdAt {
  display: block;
  color: hsl(var(--clr-gray-400));
  margin-top: 3px;
}

.privateMessage {
  cursor: pointer;
  text-decoration: none;
  display: block;
  margin-top: var(--space-sm);
  border: var(--border-base);
  border-radius: var(--br-sm);
  padding: var(--space-base);
  transition: background-color 250ms linear;
}

.privateMessage:hover,
.privateMessage:focus-visible {
  background-color: hsl(var(--clr-gray-300));
}

.avatar,
.image {
  width: var(--media-width);
}

.image {
  border-radius: var(--br-base);
}

@media (--screen-tablet) {
  .container {
    --media-width: 2.875rem;
    column-gap: var(--space-md);
  }
  .link {
    font-weight: var(--fw-bold);
  }
  .privateMessage {
    padding: var(--space-md);
  }
}
